header{
    border-radius: 10px;
    background-color: #423F3E;
    margin: 15px;
    padding: 10px;
}

body{
    background-color: #0C0C0C;
}

header h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28.8px;
}

header img{
    width: 100px;
    height: 50px;
    position: absolute;
}

.Img{
    display: flex;
    flex-wrap: wrap;
    background-color: #423F3E;
    margin-top: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.Img img{
    flex: 0 0 calc(33.33% - 20px);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    height: auto;
}

.Reference{
    margin: 10px;
    background-color: #423F3E;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.Reference img{
    width: 200px;
    border-radius: 10px;
}

.Derechos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Reference p{
    font-size: 17px;
}